# Auto detect text files and perform LF normalization
* text=auto

src export-ignore
docs export-ignore
README.md export-ignore
atf-snapshot.webp export-ignore
.gitattributes export-ignore
.gitignore export-ignore
