:root {
    --dark-bg: #282828;
    --darker-bg: #383838;
    --light-text: #F5F5F5;
    --answer-bg: #333333;
    --faq-bg: #292929;
}

.faq-section {
    background-color: var(--faq-bg);
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 10rem;
    overflow-wrap: break-word;
    box-shadow: inset 0 -0.75rem 0.75rem -0.75rem rgba(210, 200, 210, 0.9) 
}

.faq-section h2 {
    color: var(--light-text);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin: 1rem auto;
    padding: 1rem;
    padding-bottom: 5rem;
    max-width: 1000px;
    /*
    background-color: var(--darker-bg);
    color: var(--light-text);
    font-size: 2rem;
    font-weight: 128;
    letter-spacing: 0;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1rem 1rem;
    */
}

.faq-section h2 b {
    font-weight: 500;
}



.question {
    margin: 1rem auto;
    max-width: 1000px;
    text-align: center;
}

.question-button {
    color: var(--light-text);
    background-color: var(--dark-bg);
    border-radius: 0.25em;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.25px;
    text-align: left;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1rem 1rem 0.5rem;
    border: none;
    transition: border 0s ease;
}

.question-button:hover,
.smaller:hover {
    background-color: var(--darker-bg);
    border-left: 2px solid var(--light-text);
    border-right: 2px solid var(--light-text);
}

.smaller {
    font-size: 1.5rem;
    font-weight: 400;
}

.answer {
    display: none;
    color: var(--light-text);
    background-color: var(--answer-bg);
    font-size: 1.25rem;
    font-weight: 64;
    letter-spacing: 0;
    margin: 0 auto;
    padding: 2rem 1.5rem 1.25rem;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.answer.show {
    display: block;
}

.answer p {
    text-align: left;
    line-height: 2rem;
    margin-bottom: 1.25em;
}

@media (max-width: 500px) {

    .question-button {
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: 0px;
    }

    .answer {
        font-size: 1.125rem;
        padding: 1.5rem 1rem;
    }

}