html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.video-container {
  max-width: 700px;
  width: 100%;
  margin: 40px auto;
}

.video-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}



.centered {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cuteborder {
    border: 1px solid #9E9BFE;
    box-sizing: border-box;
}

.textunderneath {
    display: block;
    margin-top: 0;
    text-align: center;
    font-size: 1rem;
}

.padded {
    margin-top: 1rem;
    margin-bottom: 3rem;
}


.section-read-abovethefold {
    background-color: #222;
    text-align: center;
    width: 100%;
    padding-top: 2em; /* Because navbar */
    padding-bottom: 2em;
}

.section-read-abovethefold h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0.5rem;
}

.section-read-abovethefold h4 {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #a7a7a7;
    margin-bottom: 2rem;
}

.section-read-abovethefold h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.5px;
    color: #fff;
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 800px;
}

.section-read-abovethefold h3 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #a7a7a7;
    margin-top: 2rem;
}

.section-read-abovethefold h4 {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #a7a7a7;
    margin-bottom: 2rem;
}

.section-read-abovethefold .CTA-button-one {
    margin-top: 0;
}

.section-read-comparison {
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    background-color: #F5F5F5;
    box-shadow: inset 0 -0.5rem 0.5rem -0.5rem rgba(110, 110, 110, 0.5);
}

.section-read-comparison h2 {
    font-size: 1.75rem;
    color: #444;
    text-align: center;
    margin-bottom: 2rem;
}

.section-read-footer {
    font-size: 0.75em;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    color: #F5F5F5;
    background-color: #111111;
    box-shadow: inset 0 -0.5rem 0.5rem -0.5rem rgba(110, 110, 110, 0.5);
}

.section-read-modules {
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
    background-color: var(--faq-bg);
    color: var(--light-text);
    box-shadow: inset 0 -0.75rem 0.75rem -0.75rem rgba(0, 0, 0, 0.9) 
}


.section-read-modules h2 {

    color: var(--light-text);
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 1000px;
}

.section-read-modules h3 {
    font-size: 1.5em;
    color: var(--light-text);
}




@media (max-width: 500px) {

    .section-read-modules h2 {
        font-size: 2.5em;
    }        

    .section-read-modules h3 {
        font-size: 1.25em;
    }    

    .section-read-abovethefold h1 {
        font-size: 2em;
    }

    .section-read-abovethefold h2 {
        font-size: 2.5em;
    }
    
    .section-read-abovethefold h3 {
        font-size: 1.5em;
    }
    
    .section-read-abovethefold h4 {
        font-size: 1.125em;
    }
    
}



.redbg {
    background-color: red;
}

.separator {
    border-top: 1px solid #33333311;
}

